@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #9b59b6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 50px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    background-image: url("hacker-2300772_1280.jpg");
    background-size: cover;
    background-position: center;
}

.tab-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
}

header h2 {
    margin: 0;
}

form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    font-family: inherit;
    width: 100%;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.default i.fa-exclamation-circle {
    visibility: hidden;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
}

.tabs {
    display: flex;
    flex-direction: row;

    background-color: #fff;
    height: 50px;
    border-radius: 10px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.tab:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    cursor: pointer;

    border: 2px solid dodgerblue;
}

.tab-active {
    background-color: lightblue;
    border: 2px solid dodgerblue;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.successModalWindow {
    display: none;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    width: 500px;
    height: 200px;
    top: 200px;

    background-color: whitesmoke;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Горизонтальний зсув, вертикальний зсув, розмір розсіювання, колір тіні */
    border-radius: 3%;

    position: fixed;
}

.successModalWindowSpan {
    display: block;
    width: 400px;
    padding: 10px;
    color: black; /* Білий колір тексту */
    text-align: center; /* Центруємо текст у блоку */
    border-radius: 5px; /* Скруглені кути */
    margin-bottom: 20px;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
}

button:hover {
    background-color: #45a049;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    body {
        background-color: #9b59b6;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        margin: 30px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        background-image: url("hacker-2300772_1280.jpg");
        background-size: cover;
        overflow: hidden;
    }

    .form-control {
        margin-bottom: 5px;
        padding-bottom: 10px;
        position: relative;
    }

    .form-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 14px;
        padding: 5px;
        font-family: inherit;
        width: 100%;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        height: 40px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-color: #9b59b6;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        margin: 30px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        background-image: url("hacker-2300772_1280.jpg");
        background-size: cover;
        overflow: hidden;
    }

    .form-control {
        margin-bottom: 5px;
        padding-bottom: 10px;
        position: relative;
    }

    .form-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 5px;
        font-family: inherit;
        width: 100%;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        height: 35px;
        border-radius: 10px;
    }
}